<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/public/styles.css" rel="stylesheet">
  <script src="/public/bootstrap/js/bootstrap.js"></script>
  <title>Vehicle Registration</title>
</head>

<body class="bg-wrap">

  <div>
    <img class="homepage-bg" src="../public/images/bob-flavin-pic.jpg" alt="Image">


    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <div class="container">
        <a class="nav-link nav-item" href="#">Parking</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link nav-item" aria-current="page" href="#">Add Vehicle/Boda Boda</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link nav-item dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Generate Report
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Parking Report</a></li>
                <li><a class="dropdown-item" href="#">Sign-off Report</a></li>
              </ul>
            </li>
          </ul>

          <!-- This is the logout button -->
          <form class="d-flex ">
            <button class="btn btn-outline-success logout-button" type="submit">Logout</button>
          </form>
        </div>
      </div>
    </nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-3">
          <div class="row">
            <div class="card home-card bg-light" style="width: 15rem;">
              <img src="/public/images/car parking.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="#" class="btn btn-primary card-button">Go to Parking Section </a>
              </div>
            </div>


            <div class="card home-card bg-light" style="width: 15rem;">
              <img src="/public/images/car-battery-work.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="#" class="btn btn-primary card-button">Go Battery Section</a>
              </div>
            </div>

          </div>



        </div>


        <div class="col ">
          <div class="row">
            <div class="card home-card bg-light" style="width: 15rem;">
              <img src="/public/images/tyre clinic.jpg" class="card-img-top" alt="Tyre clinic">
              <div class="card-body">
                <a href="#" class="btn btn-primary card-button">Go to tyre clinic Section</a>
              </div>
            </div>

            <div class="card home-card bg-light" style="width: 15rem;">
              <img src="/public/images/car wash.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <a href="#" class="btn btn-primary card-button">Coming Soon </a>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <img src="/public/images/FastCarWash (1).png">
        </div>



      </div>

      
    </div>
  </div>


  </div>


</body>