doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  link(href='/bootstrap/css/bootstrap.css' rel='stylesheet')
  link(href='/styles.css' rel='stylesheet')
  script(src='/bootstrap/js/bootstrap.js')
  title Vehicle Registration
div
  img.homepage-bg(src='./images/bob-flavin-pic.jpg' alt='Image')
  nav.navbar.navbar-expand-lg.navbar-light.bg-light
    .container
      a.nav-link.nav-item(href='#') Parking
      button.navbar-toggler(type='button' data-bs-toggle='collapse' data-bs-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
        span.navbar-toggler-icon
      #navbarSupportedContent.collapse.navbar-collapse
        ul.nav.me-auto.mb-2.mb-lg-0
          li.nav-item
            a.nav-link.nav-item(aria-current='page' href='#') Add Vehicle/Boda Boda
          li.nav-item.dropdown
            a#navbarDropdown.nav-link.nav-item.dropdown-toggle(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')
              | Generate Report
            ul.dropdown-menu(aria-labelledby='navbarDropdown')
              li
                a.dropdown-item(href='#') Parking Report
              li
                a.dropdown-item(href='#') Sign-off Report
        // This is the logout button
        form.d-flex
          button.btn.btn-outline-success.logout-button(type='submit') Logout
  .container-fluid
    .row
      .col-3
        .row
          .card.home-card.bg-light(style='width: 15rem;')
            img.card-img-top(src='/images/car parking.jpg' alt='...')
            .card-body
              a.btn.btn-primary.card-button(href='/vehicleReg') Go to Parking Section 
          .card.home-card.bg-light(style='width: 15rem;')
            img.card-img-top(src='/images/car-battery-work.jpg' alt='...')
            .card-body
              a.btn.btn-primary.card-button(href='/battery') Go Battery Section
      .col
        .row
          .card.home-card.bg-light(style='width: 15rem;')
            img.card-img-top(src='/images/tyre clinic.jpg' alt='Tyre clinic')
            .card-body
              a.btn.btn-primary.card-button(href='/tyre') Go to tyre clinic Section
          .card.home-card.bg-light(style='width: 15rem;')
            img.card-img-top(src='/images/car wash.jpg' alt='...')
            .card-body
              a.btn.btn-primary.card-button.disabled(href='#') Coming Soon 
      .col
        img(src='/images/FastCarWash (1).png')
