<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/public/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/public/styles.css" rel="stylesheet">
  <script src="/public/bootstrap/js/bootstrap.js"></script>
  <title>Vehicle Registration</title>
</head>

<body class="bg-wrap-reg" onload="fastFocus()">

  <div>
    <img class="img-bg" src="../public/images/bob-flavin-pic.jpg" alt="Image">


    <nav class="navbar navbar-expand-lg navbar-light bg-light ">
      <div class="container">
        <a class="nav-link nav-item" href="#">Parking</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="nav me-auto mb-2 mb-lg-0 ">
            <li class="nav-item">
              <a class="nav-link nav-item" aria-current="page" href="#">Add Vehicle/Boda Boda</a>
            </li>

            <li class="nav-item dropdown">
              <a class="nav-link nav-item dropdown-toggle" href="#" id="navbarDropdown" role="button"
                data-bs-toggle="dropdown" aria-expanded="false">
                Generate Report
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="#">Parking Report</a></li>
                <li><a class="dropdown-item" href="#">Sign-off Report</a></li>
              </ul>
            </li>
          </ul>

          <!-- This is the logout button -->
          <form class="d-flex ">
            <button class="btn btn-outline-success logout-button" type="submit">Logout</button>
          </form>
          </a>
        </div>
      </div>
    </nav>
    <!-- End of the nav bar -->

    <div class=" container py-5 h-100 ">
      <div class="container row justify-content-center ">
        <div class="col col-xl-10">
          <div class="card bg-light">
            <div class="container col-md-7">
              <div class="container">

                <form name="register" class="form-horizontal" method="POST" role="form" action="#">
                  <h2>Registration</h2>
                  <div class="form-group">
                    <label for="firstName" class="col-sm-3 control-label">First Name*</label>
                    <div class="col-sm-9">
                      <input type="text" id="firstname" placeholder="First Name" size= "50" onblur="userN(4,12)" class="form-control" autofocus
                        name="firstname">
                    </div>
                    <div class="text-danger font-weight-bold small" id="fName"></div>
                    <!-- i commented this work incase you need it -->
                    <!-- <div><span id="firstNameError"></span></div> -->
                  </div>
                  <br>

                  <div class="form-group">
                    <label for="lastName" class="col-sm-3 control-label">Last Name*</label>
                    <div class="col-sm-9">
                      <input type="text" id="lastname" placeholder="Last Name" size= "50" onblur="usern(4,12)" class="form-control" autofocus
                        name="lastname">
                    </div>
                    <div class="text-danger font-weight-bold small" id="lName"></div>
                    <!-- <div><span id="lNameError"></span></div> -->
                  </div>
                  <br>

                  <div class="form-group">
                    <label for="email" class="col-sm-3 control-label">Email</label>
                    <div class="col-sm-9">
                      <input type="email" id="email" placeholder="Email" size= "50" onblur="userE()" class="form-control" name="email">
                    </div>
                    <div class="text-danger font-weight-bold small" id="email2"></div>
                    <!-- <div><span id="emailError"></span></div> -->
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Password*</label>
                    <div class="col-sm-9">
                      <input type="password" id="password" placeholder="Password" size= "50" onblur="passW(8,12)" class="form-control" name="password">
                      <div class="text-danger font-weight-bold small" id="pwd"></div>
                      <!-- <div><small><span id="passwordError"></span></small></div> -->

                    </div>
                  </div>
                  <br>
                  <div class="form-group">
                    <label for="password" class="col-sm-3 control-label">Confirm Password*</label>
                    <div class="col-sm-9">
                      <input type="password" id="confirmpassword" placeholder="Password"size= "50" onblur="passC()" class="form-control"
                        name="confirmpassword">
                        <div class="text-danger font-weight-bold small" id="pwdd"></div>
                      <!-- <div><small><span id="passwordError"></span></small></div> -->

                    </div>
                  </div>
                  <br>
                  <button type="submit" class="btn btn-primary btn-block">Register</button>
                </form> <!-- /form -->
              </div>

              <!-- ./container -->



              <!-- Footer -->
              <footer class="page-footer font-small blue bg-light">

                <!-- Copyright -->
                <div class="footer-copyright text-center py-3">© 2022 Copyright:
                  <a href="/"> Parkville Day and Night Parking</a>
                </div>
                <!-- Copyright -->

              </footer>
              <script src="/public/validation.js"></script>
              <!-- Footer -->

</body>

</html>